<div class="container mt-5">
    <div class="row" *ngIf="orderList">
        <div class="col-12">
            <div>
                <div class="table-responsive table-hover">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="p-2 text-uppercase">Order</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Date</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Total</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Status</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orderList" routerLink="/orders/{{order.id}}">
                                <th class="align-middle"><strong># {{order.id}}</strong></th>
                                <td class="align-middle"><strong>{{order.orderDate | date: 'medium'}}</strong></td>
                                <td class="align-middle"><strong>{{order.total | currency}}</strong></td>
                                <td class="align-middle"><strong>{{order.status}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>